* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-title {
    font-family: 'Open Sans', sans-serif;
    background-color: #004175;
    color: #ffffff;
    padding: 30px; 
    border-bottom: 2px solid #89DEEF;
    margin-bottom: 25px;    
}

.title-info {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.title-info > h2 {
    margin-bottom: 20px;
}

.title-info > p {   
    margin-bottom: 10px;  
}

.main {
    width: 1000px;
    height: 1000px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dog-img {
    max-width: 100%;
    height: auto; 
}

.img-caption {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

.beans-div {
    width: 300px;
    height: 300px; 
}

.traits > ul li {
    background-color: #89DEEF;
    border-radius: 10px; 
    padding: 3px;
    display: inline-block;
    font-size: 10px;
    list-style-type: none; 
}

.zelda-div {
    width: 300px;
    height: 300px;
}



.baby-div {
    width: 300px;
    height: 300px;
}



.tom-tom-div {
    width: 300px;
    height: 300px;
}



.marco-div {
    width: 300px;
    height: 300px;
}



.shackleton-div {
    width: 300px;
    height: 300px;
}



.midge-div {
    width: 300px;
    height: 300px;
}



.ladybird-div {
    width: 300px;
    height: 300px;
}



.mina-div {
    width: 300px;
    height: 300px;
}



.footer {
    width: 300px;
    height: 750px;
    display: flex;
    flex-direction: row;
}

.nav > h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
}

.donate {
    margin-top: 100px;
    background-image: url(https://raw.githubusercontent.com/Momentum-Team-8/css--dog-adoption-gregsronce/main/starter_files/images/donate.jpg);
    background-size: 100% 100%;
    margin-left: 50px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volunteer {
    background-image: url(https://raw.githubusercontent.com/Momentum-Team-8/css--dog-adoption-gregsronce/main/starter_files/images/location.png);
    background-size: 100% 100%;
    margin-left: 50px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-location {
    background-image: url(https://raw.githubusercontent.com/Momentum-Team-8/css--dog-adoption-gregsronce/main/starter_files/images/volunteer.jpg);
    background-size: 100% 100%;
    margin-left: 50px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}