* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-title {
    background-color: #004175;
    font-family: 'Open Sans', sans-serif;   
    color: #ffffff;
    padding: 30px 50px; 
    border-bottom: 2px solid #89DEEF;
    margin-bottom: 25px;    
}

.title-info {
    padding-left: 30px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;   
    display: flex;
    flex-direction: column;  
}

.title-info > h2 {
    margin-bottom: 20px;
}

.title-info > p {   
    margin-bottom: 10px;  
}

.main {
    width: 950px;
    padding-left: 30px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dog-info {
    width: 300px;
    margin-bottom: 40px;
}

.dog-img {
    max-width: 100%;
}

.img-caption {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

.traits > ul li {
    background-color: #89DEEF;
    border-radius: 10px; 
    padding: 3px;
    font-size: 10px;
    list-style-type: none; 
    display: inline-block; 
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav > h1 {
    height: 250px;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #ffffff;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    background-color: #a6a9f0;
    background-size: 100% 100%;
}

.donate-image {
    background: linear-gradient(
        rgba(166, 169, 240, 0.70),rgba(166, 169, 240, 0.70)),
    url(https://raw.githubusercontent.com/Momentum-Team-8/css--dog-adoption-gregsronce/main/starter_files/images/donate.jpg); 
}

.volunteer-image {
    background: linear-gradient(
        rgba(166, 169, 240, 0.70),rgba(166, 169, 240, 0.70)),
    url(https://raw.githubusercontent.com/Momentum-Team-8/css--dog-adoption-gregsronce/main/starter_files/images/volunteer.jpg);
}
    
.our-location-image {
    background: linear-gradient(
        rgba(166, 169, 240, 0.70),rgba(166, 169, 240, 0.70)),
    url(https://raw.githubusercontent.com/Momentum-Team-8/css--dog-adoption-gregsronce/main/starter_files/images/location.png); 
}